<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acadamics</title> 
    <style>
        body {
          font-family:'Times New Roman', Times, serif; 
        background-image:linear-gradient(#DBE2EF,#3F72AF,#112D4E);
      }
        .btn {
            background-color: dodgerblue;
            color: white;
            padding: 15px 20px;
            border: none;
            cursor: pointer;
            width: 10%;
            opacity: 0.9;
          }
          
          .btn:hover {
            opacity: 1;
          }
        .sidebar {
          height: 100%;
          width: 160px;
          position: fixed;
          z-index: 1;
          top: 0;
          left: 0;
          background-color: blue;
          overflow-x: hidden;
          padding-top: 16px; 
          
        }
        
        .sidebar a {
          padding: 6px 8px 6px 16px;
          text-decoration: none;
          font-size: 20px;
          color: white;
          display: block;
        }
        
        .sidebar a:hover {
          color: #f1f1f1;
        }
        
        .main {
          margin-left: 160px; /* Same as the width of the sidenav */
          padding: 0px 10px;
        }
        
        @media screen and (max-height: 450px) {
          .sidebar {padding-top: 15px;}
          .sidebar a {font-size: 18px;}
        }
        </style> 
        <style>
          * {
            box-sizing: border-box;
          }
          
          .column {
            float: left;
            width: 100%;
            padding: 5px;
          }
          
          /* Clearfix (clear floats) */
          .row::after {
            content: "";
            clear: both;
            display: table;
          } 
          
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin:50px 60px;
  width: 80%;
  background-color: white;  
  border-color: black;
  text-align: center;
  
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* .container {
  padding: 10px 16px;
}  */

.container {
  padding: 10px 16px;
  margin: 0px 75px;
} 

.box{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease 0s;
}
.box:hover{ box-shadow: 0 0 10px rgba(0,0,0,0.1); }
.box:before{
    content: "";
    /* background-image:linear-gradient(#DBE2EF,#3F72AF,#112D4E); */
    background-color: #112D4E;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 100%;
    left: 0;
    transition: all 0.5s ease 0s;
}
.box:hover:before{ bottom: 0; }
.box img{
    width: 100%;
    height: auto;
    transition: all 0.5s ease 0s;
}
.box:hover img{ opacity: 0.3; }
.box .box-content{
    color: #fff;
    /* background-image:linear-gradient(#DBE2EF,#3F72AF,#112D4E); */
    background-color: #112D4E;
    width: 100%;
    padding: 13px 20px 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: all 0.5s ease 0s;
}  
.box:hover .box-content{
    color: #112D4E;
    background: #fff;
}
.box .title{
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}
.box .post{
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: lowercase;
}
.box .icon{
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateX(-50%) translateY(-35%);
    position: absolute;
    top: 35%;
    left: 50%;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.box:hover .icon{ opacity: 1; }
.box .icon {
    margin: 0 3px;
    display: inline-block;
}
.box .icon li a{
    color: pink;
    background: #fff;
    font-size: 18px;
    line-height: 35px;
    height: 35px;
    width: 35px;
    display: block;
    transition: all .5s ease 0s;
}
.box .icon li a:hover{
    color: #fff;
    /* background: ; */
    border-radius: 10px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}


@media only screen and (max-width:990px){
    .box{ margin: 0 0 30px; }
} 
   
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

          </style>
</head>
<body>  

    <h1 style="text-align:center ;">ACADAMICS</h1>
     <p style="font-size:25px ;">
        Academics is important because it is strongly linked to the positive outcomes we value.
        Adults who are academically successful and with high levels of education are more likely to be employed,
        have stable employment, have more employment opportunities than those with less education and earn
        higher salaries, are more likely to have health insurance, are less dependent on social assistance, are less
        likely to engage in criminal activity, are more active as citizens and charitable volunteers and are healthier
        and happier. Academic success is important because working people will need higher levels of education
        to tackle the technologically demanding occupations of the future. Now a day you need a post-secondary
        education in order to get a job.
        Academically successful adolescents have higher self-esteem, have lower levels of depression
        and anxiety, are socially inclined, and are less likely to abuse alcohol and engage in substance abuse.
        Positive self-esteem and self-confidence are critical factors in commitment to academic success.
        Parents who were involved in their child's education and family activities saw positive results in
        the area of behavior, academics and social interactions.  </p>
        
        <h2>The information of academics are given below :</h2>
        <table style="text-align: center;">
          <tr>
            <th>Department id</th>
            <th>Department name</th>
            <th>Course id</th>
            <th>Course names</th>
          </tr>
          <tr>  

            <td rowspan="4">6001</td>
            <td rowspan="4">computer science</td> 
            
            <td>8001</td>
            <td>discrete mathematics 1</td> 
            <tr>
            <td>8011</td> 
            
            <td>discrete mathematics 2</td> 
            </tr> <tr>
            <td>8021</td>
            <td>discrete mathematics 3</td> 
          </tr><tr>
            <td>8031</td>
            <td>discrete mathematics 4</td>  
          </tr>

          
          </tr>
         
           
            <tr >  

              <td rowspan="4" style="background-color:#a3bbd9 ;">6002</td>
              <td rowspan="4" style="background-color:#a3bbd9 ;">electrical engineering</td> 
              
              <td>8002</td>
              <td>electronics 1</td> 
              <tr>
              <td>8012</td> 
              
              <td>electronics 2</td> 
              </tr> <tr>
              <td>8022</td>
              <td>electronics 3</td> 
            </tr><tr>
              <td>8032</td>
              <td>electronics 4</td>  
            </tr>
  
            
         
            <tr>
               
  
                <td rowspan="4">6003</td>
                <td rowspan="4">civil engineering</td> 
                
                <td>8003</td>
                <td>solid mechanics 1</td> 
                <tr>
                <td>8013</td> 
                
                <td>solid mechanics 2</td> 
                </tr> <tr>
                <td>8023</td>
                <td>solid mechanics 3</td> 
              </tr><tr>
                <td>8033</td>
                <td>solid mechanics 4</td>  
              </tr>
    
              
              </tr>
          
          
        </table>
            <br><br><br>
        <div class="container" style="width:85%;height: 10px;margin: 0px 75px;">
          <div class="row">
              <div class="col-md-4 col-sm-6">
                  <div class="box">
                      <img src="https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGNvbXB1dGVyJTIwc2NpZW5jZSUyMHBpY3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60" style="height: 500px">
                      <div class="box-content">
                          <h3 class="title">COMPUTER SCIENCE</h3>
                       
                      </div>
                    <p class="icon" style="color: #DBE2EF;">
                      Computer Science and Engineering (CSE) at Indian Institute of Technology Palakkad offers undergraduate, postgraduate and research programs. The discipline offers a conducive environment for students to satisfy their intellectual appetite, and strives to impart knowledge across the depth and breadth of computer science and engineering. We build a strong foundation in our students and prepare them for pioneering roles in the industry and academia. The discipline currently offers an undergraduate program (B.Tech. in Computer Science and Engineering), three interdisciplinary postgraduate programs (M.Tech. in Computing and Mathematics, M.Tech. in Data Science, and M.Tech. in System-on-Chip Design), and two research programs (MS and PhD). The curricula introduces students to state-of-the-art technologies through well designed courses and encourages innovation through projects. The curriculum undergoes regular revisions to keep pace with the ever-changing needs of the community. 
                      
                    </p>
                  </div>
              </div>
              </div>
          </div>
      </div> 

      <div class="container" style="width:85%;height: 10px; margin: 550px 75px;">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="box">
                    <img src="https://media.istockphoto.com/id/139703247/photo/green-board.jpg?b=1&s=170667a&w=0&k=20&c=kcwKYb6mWBaid_2YExpaqOLAEJd6aas9Ql9EamtDAVE=" style="height: 500px">
                    <div class="box-content">
                        <h3 class="title">ELECTRICAL</h3>
                     
                    </div>
                  <p class="icon" style="color: #DBE2EF;">
                    The department of electrical engineering has been playing a vital role in producing scientists and technologists of highest caliber ever since it was established in the year 1961. The department runs three under graduate programmes and 9 post-graduate programmes to cater to the ever challenging needs of technical excellence in all areas of electrical engineering such as Integrated electronics and circuits, Tele-communications, Computer technology, Control & Automation, Power systems & Power electronics.
 In addition to the strong undergraduate programs, the department has been playing a pioneering role in producing world class postgraduates and research scholars. The infrastructure and lab facilities are upgraded from time to time and provide adequate opportunities for students and researchers to learn and innovate. The department has distinguished faculty, all holding Ph.D. degrees from renowned institutes in India and abroad. There are two Fellows of IEEE in the department and many other faculty members are Fellows of several national and international scientific bodies. 
                    
                  </p>
                </div>
            </div>
            </div>
        </div>
    </div> 

    <div class="container" style="width:85%;height: 10px; margin: 550px 75px;">
      <div class="row">
          <div class="col-md-4 col-sm-6">
              <div class="box">
                  <img src="https://media.istockphoto.com/id/1333158315/photo/civil-engineer-jobs-double-exposure-of-project-management-team-and-construction-site-with.jpg?b=1&s=170667a&w=0&k=20&c=HmV-chZ_8d4uHE4u3hQE4eDBuQPJg0yoX6CYIANliEs=" style="height: 500px">
                  <div class="box-content">
                      <h3 class="title">CIVIL</h3>
                   
                  </div>
                <p class="icon" style="color: #DBE2EF;">
                  One of the primary engineering departments of the institutes, the Department of Civil Engineering offers B.Tech., M.Tech. and Ph.D. degree programs. The Department registers M.S. and Ph.D. candidates including those under the Quality Improvement Programs (QIP). Under its Continuing Education Program (CEP), it organizes from time to time, advanced special courses as well as short time refresher courses with participation both from academic and serving senior level officers in Central and State Government and Public Sector Undertakings (PSUs).

              The Department actively promotes curriculum development activity by updating existing courses, developing new courses and preparing resource material for teaching. The Department has a number of ongoing research projects and sponsored research schemes from public and private sector organizations. It undertakes industrial consultancy works as a part of its interaction with industry and also organizes seminars/symposia for professional interaction. The Department contributes to the interdisciplinary academic and research activity of the Institute. 
                  
                </p>
              </div>
          </div>
          </div>
      </div>
  </div> 







        <!-- <div class="card">
          <img src="https://media.istockphoto.com/photos/computer-technology-background-digital-data-flow-network-connection-picture-id1387945043?b=1&k=20&m=1387945043&s=170667a&w=0&h=iBBm4olnXggdTmBk8W-nYXWl6Z_psnG34rgoOMJ_rD4=" alt="Avatar" style="width:100%;height:350px;">
          <div class="container">
            <h2><b>COMPUTER SCIENCE</b></h2> 
            <p style="font-size :25px ;">Computer Science and Engineering (CSE) at Indian Institute of Technology Palakkad offers undergraduate, postgraduate and research programs. The discipline offers a conducive environment for students to satisfy their intellectual appetite, and strives to impart knowledge across the depth and breadth of computer science and engineering. We build a strong foundation in our students and prepare them for pioneering roles in the industry and academia. The discipline currently offers an undergraduate program (B.Tech. in Computer Science and Engineering), three interdisciplinary postgraduate programs (M.Tech. in Computing and Mathematics, M.Tech. in Data Science, and M.Tech. in System-on-Chip Design), and two research programs (MS and PhD). The curricula introduces students to state-of-the-art technologies through well designed courses and encourages innovation through projects. The curriculum undergoes regular revisions to keep pace with the ever-changing needs of the community.</p> 
          </div>
        </div>
        <div class="card">
          <img src="https://media.istockphoto.com/photos/big-data-connection-technology-concept-picture-id1406674466?b=1&k=20&m=1406674466&s=170667a&w=0&h=fkHVkLzBNMQvvYLCq9UF2heb_3Vd5XvcHetufBYSXT8=" alt="Avatar" style="width:100%;height:350px">
          <div class="container">
            <h2><b>ELECTRICAL</b></h2> 
            <p style="font-size :25px ;">The department of electrical engineering has been playing a vital role in producing scientists and technologists of highest caliber ever since it was established in the year 1961. The department runs three under graduate programmes and 9 post-graduate programmes to cater to the ever challenging needs of technical excellence in all areas of electrical engineering such as Integrated electronics and circuits, Tele-communications, Computer technology, Control & Automation, Power systems & Power electronics.
 In addition to the strong undergraduate programs, the department has been playing a pioneering role in producing world class postgraduates and research scholars. The infrastructure and lab facilities are upgraded from time to time and provide adequate opportunities for students and researchers to learn and innovate. The department has distinguished faculty, all holding Ph.D. degrees from renowned institutes in India and abroad. There are two Fellows of IEEE in the department and many other faculty members are Fellows of several national and international scientific bodies. The faculty of the department has been constantly carrying out research on many cutting edge technologies and regularly publishes in IEEE and other top international journals. The department also undertakes many research projects sponsored by both the government and the industry.</p> 
          </div>
        </div>
        <div class="card">
          <img src="https://media.istockphoto.com/photos/civil-engineer-jobs-double-exposure-of-project-management-team-and-picture-id1333158315?b=1&k=20&m=1333158315&s=170667a&w=0&h=Dg_3EXTRtYfcESiQQQ3IL9o6dLZ2fxWNctcjD_WIuYE=" alt="Avatar" style="width:100%;height:350px;">
          <div class="container">
            <h2><b>CIVIL</b></h2> 
            <p style="font-size :25px ;">One of the primary engineering departments of the institutes, the Department of Civil Engineering offers B.Tech., M.Tech. and Ph.D. degree programs. The Department registers M.S. and Ph.D. candidates including those under the Quality Improvement Programs (QIP). Under its Continuing Education Program (CEP), it organizes from time to time, advanced special courses as well as short time refresher courses with participation both from academic and serving senior level officers in Central and State Government and Public Sector Undertakings (PSUs).

              The Department actively promotes curriculum development activity by updating existing courses, developing new courses and preparing resource material for teaching. The Department has a number of ongoing research projects and sponsored research schemes from public and private sector organizations. It undertakes industrial consultancy works as a part of its interaction with industry and also organizes seminars/symposia for professional interaction. The Department contributes to the interdisciplinary academic and research activity of the Institute.</p> 
          </div>
        </div>
       -->
               
          
</body>
</html>