<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>clubs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        .card1 {
            background-color: rgba(24, 22, 129, 0.169);
        }

        body {
            background-image: linear-gradient(#DBE2EF, #3F72AF);
            font-size: large;

        }

        .img1 {
            display: inline-block;

            width: 25%;
            margin: 0px 10px;
        }

        .p1 {
            display: inline-block;
            width: 55%;
            margin: 0px 10px;

        }

        .button {
            padding: 15px 25px;
            font-size: 20px;
            width: 150px;
            text-align: center;
            cursor: pointer;
            outline: none;
            color: #fff;
            background-color: #2949e8;
            border: none;
            border-radius: 20px;
            text-decoration: none;

            margin: 0px 900px;
            position: relative;
            right: 0px;
            top: 0px;

        }

        .button:hover {
            background-color: #2d8080
        }

        .button:active {
            background-color: #2d8080;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }

        .alumini {
            border-radius: 20px;
            border-style: solid;
            border-color: black;
            margin: 0px 0px 20px 0px;

        }

        .img3 {
            display: inline-block;

            width: 25%;
            margin: 0px 10px;
        }

        .p3 {
            display: inline-block;
            width: 65%;
            margin: 0px 10px;
        }

        .programming {
            border-radius: 20px;
            border-style: solid;
            border-color: black;
            margin: 0px 0px 20px 0px;

        }

        .img2 {
            display: inline-block;

            width: 25%;
            margin: 0px 10px;
        }

        .p2 {
            display: inline-block;
            width: 65%;
            margin: 0px 10px;
        }

        .e-cell {
            border-radius: 20px;
            border-style: solid;
            border-color: black;
            margin: 0px 0px 20px 0px;


        }
    </style>

</head>

<body>

    <nav class="navbar fixed-top "
    style="background-color:#112D4E;color: white; height:55px;text-align: center;font-size: 32px;padding: 0px 0px 0px 650px;">
    <div class="container-fluid">
        CLUBS
    </div>
</nav>

    <!-- <h1 style="text-align:center">CLUBS</h1> -->
    <P style="text-align: center;font-size:20px;margin: 75px 0px 0px 0px;">When it comes to studying at an IIT, people have the misconception
        that IITians are studious dweebs, who can't break out of the humdrum monotony of their schedules; trapped in a
        perpetual loop of assignments, quizzes, vivas and semester examinations. With a panoply of activities organised
        under the banner of cultural and technical events, to a multitude of clubs that help the students follow their
        interests, the students gain an impressive repertoire of skills, apart from academic excellence. Whether it be
        the performance at inter-IITs, at annual TvsMs, or international competitions, the students at IITI have
        consistently shone with full brilliance. With a close-knit community of more than 1800 students, students here
        form strong and lasting friendships for life</P>
    <h2>Some of the clubs are listed below</h2>
    <ul>

        <li>Alumini club</li>
        <li>E-cell</li>
        <li>Concrete club</li>


    </ul>

    <div class="card mb-3" style="max-width: 100%;display: inline-block;background-color: #112D4E;color: white;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://media.istockphoto.com/id/1421944763/photo/excited-asian-students-tossing-mortarboard-in-the-air-on-graduation-day-tradition.jpg?s=612x612&w=0&k=20&c=WuYS3h3YvUn0PK3ZhLZtMdegG-Zg5rR_f_ZA9c6ULbg="
              width="43%" height="410px" class="card-img" alt="...">
          </div>
          <div class="col-md-8" style="display: inline-block">
            <div class="card-body" >
              <h3 class="card-title">ALUMINI CLUB</h3>
              <p class="card-text">  An alumni association is an association of graduates or, more broadly, of
                former students (alumni).

                These associations often organize social events, publish newsletters or magazines, and raise funds for
                the organization. Many provide a variety of benefits and services that help alumni maintain connections
                to their educational institution and fellow graduates. Most associations do not require its members to
                be an alumnus of a university to enjoy membership and privileges.

                Additionally, such groups often support new alumni, and provide a forum to form new friendships and
                business relationships with people of similar background.

                Vision of Alumni:

                To engage the global community to support and advance the college’s excellence.

                Mission of Alumni

                The Alumni Association fosters a lifelong spirit of belonging and pride by connecting alumni, students,
                and friends to the college of Education and each other. The Alumni Association advocates for the college
                and its alumni with a credible, independent and collaborative voice. </p>
             
                <p style="text-align:center;font-style: oblique;">To know about the memebers of the club click here..</p>
                <form action="/action_page.php" >   
                    <a  style="text-align:right; margin:420px;" href="/login1/alumini">Clickhere</a>   </form> 
            </div>
          </div>
        </div>
      </div>


      <div class="card mb-3" style="max-width: 100%;display: inline-block;background-color: #112D4E;color: white;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://media.istockphoto.com/id/1356364268/photo/close-up-focus-on-persons-hands-typing-on-the-desktop-computer-keyboard-screens-show-coding.jpg?s=612x612&w=0&k=20&c=4R_9mWq9KzgpC_pVBMMM0FNzw1L-NyFLa7tDqFInMGs="
              width="43%" height="410px" class="card-img" alt="...">
          </div>
          <div class="col-md-8" style="display: inline-block">
            <div class="card-body" >
              <h3 class="card-title">Programming club</h3>
              <p class="card-text">  The start of something new. The programming club has been aiming for this since years, trying to build
                communities. This is a small step towards the milestone. We have created a slack workspace with a
                dedicated channel for each domain of development. These are more like interest groups, a place for
                people who share common interests to discuss and share knowledge. 
            <ul>
                Perks of being in the community? Well, you will be the first to be informed about all the upcoming
                hackathon and Dev meet-ups(yes, we are planning that too!). Also, all the projects that the programming
                club gets from faculties, and other things that we plan to do. 
                Aims and objectives
                <li> To develop a better coding culture.</li>
                <li> To develop a better coding culture.</li>
                <li> Organise coding competitions and hackathons.</li>
                <li> Encourage students to participate in various coding competitions happening all around.</li>

            </ul> </p>
             
            <p style="text-align:center;font-style: oblique;">To know about the memebers of the club click here..</p>
            <form action="/action_page.php" >   
                <a  style="text-align:right; margin:420px;" href="/login1/programming">Clickhere</a>   </form> 
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="max-width: 100%;display: inline-block;background-color: #112D4E;color: white;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://media.istockphoto.com/id/882232688/photo/business-man-thinking-new-idea.jpg?s=612x612&w=0&k=20&c=qU821dWpyDDXHSCvGTI3rxejDPJhVOBbzLMbNcEEtSw="
              width="43%" height="410px" class="card-img" alt="...">
          </div>
          <div class="col-md-8" style="display: inline-block">
            <div class="card-body" >
              <h3 class="card-title">E-cell</h3>
              <p class="card-text">  E-cell club is about mentoring students for those who have interest in entrepreneurship, startups and
                creates an environment so that he/she can develop the attitude and skills in this domain. Our club
                provides support to all the budding entrepreneurs and helps shape their Ideas and convert them into real
                world business opportunities.

                Entrepreneurs are the real source of new job creation in the country. Entrepreneurs can make their own
                path and walk on it on their own terms. They look at opportunities. They know different ways to solve
                problems. Entrepreneurs introduce various new techniques and innovations that new products are
                developed.

                Our Club will conduct events and workshops for members and provide them a platform to stand as an
                entrepreneur.E-Cell is made to gather a community of active and determined students who have interest in
                it. We will work towards collaborating with the E-cells of other reputed
                universities like IITs, NITs and IIITs and many more, To empower young entrepreneurs who are capable of
                following innovative and technical ideas and provide a very running and capable platform for startups .



                <!-- E-cell club is about mentoring students for those who have interest in entrepreneurship, startups and
                creates an environment so that he/she can develop the attitude and skills in this domain. Our club
                provides support to all the budding entrepreneurs and helps shape their Ideas and convert them into real
                world business opportunities.  -->
                </p>
             
                <p style="text-align:center;font-style: oblique;">To know about the memebers of the club click here..</p>
                <form action="/login1/action_page.php" >   
                    <a  style="text-align:right; margin:420px;" href="/login1/ecell">Clickhere</a>   </form> 
            </div>
          </div>
        </div>
      </div>



    <!-- <div class="alumini">
        <h2 style="text-align:center">ALUMINI CLUB</h2>

        <div class="img1">
            <img id="myImg" src="students.jpeg" alt="Snow" style="width:200%;max-width:350px;height:300px;">
        </div>
        <div class="p1">
            <p style="text-align: center;"> An alumni association is an association of graduates or, more broadly, of
                former students (alumni).

                These associations often organize social events, publish newsletters or magazines, and raise funds for
                the organization. Many provide a variety of benefits and services that help alumni maintain connections
                to their educational institution and fellow graduates. Most associations do not require its members to
                be an alumnus of a university to enjoy membership and privileges.

                Additionally, such groups often support new alumni, and provide a forum to form new friendships and
                business relationships with people of similar background.

                Vision of Alumni:

                To engage the global community to support and advance the college’s excellence.

                Mission of Alumni

                The Alumni Association fosters a lifelong spirit of belonging and pride by connecting alumni, students,
                and friends to the college of Education and each other. The Alumni Association advocates for the college
                and its alumni with a credible, independent and collaborative voice.
                <br>
            <p style="text-align:right;font-style: oblique;">To know about the memebers of the club click here..</p>
            <form action="/action_page.php">
                <a href="/alumini" class="button">Click_here</a>
            </form>

            </p>
        </div>
    </div>


    <div class="programming">
        <h2 style="text-align:center">Programming club</h2>

        <div class="img2">

            <img id="myImg" src="programming.jpeg" alt="Snow" style="width:100%;max-width:300px">
        </div>
        <div class="p2">
            <p>
                The start of something new. The programming club has been aiming for this since years, trying to build
                communities. This is a small step towards the milestone. We have created a slack workspace with a
                dedicated channel for each domain of development. These are more like interest groups, a place for
                people who share common interests to discuss and share knowledge. A place where everyone can be a mentor
                or a mentee and help each out and rise to glory!
            <ul>
                Perks of being in the community? Well, you will be the first to be informed about all the upcoming
                hackathon and Dev meet-ups(yes, we are planning that too!). Also, all the projects that the programming
                club gets from faculties, and other things that we plan to do. Will first be put up on it
                Aims and objectives
                <li> To develop a better coding culture.</li>
                <li> To develop a better coding culture.</li>
                <li> Organise coding competitions and hackathons.</li>
                <li> Encourage students to participate in various coding competitions happening all around.</li>

            </ul>
            <p style="text-align:right;font-style: oblique;">To know about the memebers of the club click here..</p>
            <form action="/action_page.php">
                <a href="/programming" class="button">Click_here</a>
            </form>
            </p>
        </div>
    </div>

    <div class="e-cell">
        <h2 style="text-align:center">E-cell</h2>

        <div class="img3">


            <img id="myImg" src="e-cell.jpeg" alt="Snow" style="width:100%;max-width:300px">
        </div>
        <div class="p3">
            <p>
                E-cell club is about mentoring students for those who have interest in entrepreneurship, startups and
                creates an environment so that he/she can develop the attitude and skills in this domain. Our club
                provides support to all the budding entrepreneurs and helps shape their Ideas and convert them into real
                world business opportunities.

                Entrepreneurs are the real source of new job creation in the country. Entrepreneurs can make their own
                path and walk on it on their own terms. They look at opportunities. They know different ways to solve
                problems. Entrepreneurs introduce various new techniques and innovations that new products are
                developed.

                Our Club will conduct events and workshops for members and provide them a platform to stand as an
                entrepreneur.E-Cell is made to gather a community of active and determined students who have interest in
                it. We will work towards collaborating with the E-cells of other reputed
                universities like IITs, NITs and IIITs and many more, To empower young entrepreneurs who are capable of
                following innovative and technical ideas and provide a very running and capable platform for startups .



                E-cell club is about mentoring students for those who have interest in entrepreneurship, startups and
                creates an environment so that he/she can develop the attitude and skills in this domain. Our club
                provides support to all the budding entrepreneurs and helps shape their Ideas and convert them into real
                world business opportunities.

            <p style="text-align:right;font-style: oblique;">To know about the memebers of the club click here..</p>
            <form action="/action_page.php">
                <a href="/ecell" class="button">Click_here</a>
            </form>
            </p>
        </div>
    </div> -->
</body>

</html>