<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>non teaching staff</title> 
    <style>.btn {
        background-color: dodgerblue;
        color: white;
        padding: 15px 20px;
        border: none;
        cursor: pointer;
        width: 10%;
        opacity: 0.9;
      }
      
      .btn:hover {
        opacity: 1;
        
      }.column {
    float: left;
    width: 20%;
    padding: 10px; 
  } 
  .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin:50px 80px; 
  width: 80%;
  background-color: white;  
  border-color: black;
  text-align: center;
  
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} 
body{
  background-image:linear-gradient(#DBE2EF,#3F72AF,#112D4E);}

.container {
  padding: 10px 16px;
  margin: 0px 75px;
} 

.box{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease 0s;
}
.box:hover{ box-shadow: 0 0 10px rgba(0,0,0,0.1); }
.box:before{
    content: "";
    /* background-image:linear-gradient(#DBE2EF,#3F72AF,#112D4E); */
    background-color: #112D4E;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 100%;
    left: 0;
    transition: all 0.5s ease 0s;
}
.box:hover:before{ bottom: 0; }
.box img{
    width: 100%;
    height: auto;
    transition: all 0.5s ease 0s;
}
.box:hover img{ opacity: 0.3; }
.box .box-content{
    color: #fff;
    /* background-image:linear-gradient(#DBE2EF,#3F72AF,#112D4E); */
    background-color: #112D4E;
    width: 100%;
    padding: 13px 20px 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: all 0.5s ease 0s;
}  
.box:hover .box-content{
    color: #112D4E;
    background: #fff;
}
.box .title{
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}
.box .post{
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: lowercase;
}
.box .icon{
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateX(-50%) translateY(-35%);
    position: absolute;
    top: 35%;
    left: 50%;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.box:hover .icon{ opacity: 1; }
.box .icon {
    margin: 0 3px;
    display: inline-block;
}
.box .icon li a{
    color: pink;
    background: #fff;
    font-size: 18px;
    line-height: 35px;
    height: 35px;
    width: 35px;
    display: block;
    transition: all .5s ease 0s;
}
.box .icon li a:hover{
    color: #fff;
    /* background: ; */
    border-radius: 10px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}


@media only screen and (max-width:990px){
    .box{ margin: 0 0 30px; }
}

</style> 
</head>
<body> 
  <nav class="navbar fixed-top "
  style="background-color:#112D4E;color: white; height:55px;text-align: center;font-size: 32px;padding: 0px 0px 0px 150px;">
  <div class="container-fluid">
      NON TEACHING FACULTY
  </div>
</nav>

  
   <p style="text-align:center ;font-size:25px;margin: 75PX 0PX 0PX 0PX;"> 
    Persons employed by educational institutions who have no instructional responsibilities. Although the definition can vary from one country to another, non-teaching staff generally include headteachers, principals and other administrators of schools, supervisors, counsellors, school psychologists, school health personnel, librarians or educational media specialists, curriculum developers, inspectors, education administrators at the local, regional, and national level, clerical personnel, building operations and maintenance staff, security personnel, transportation workers and catering staff.
    There are several members of the non teaching staff who are essential to the smooth functioning of a school. Given below are a few examples of non teaching staff and what they do from the standpoint of their professional responsibilities. 
    
   
  
  </p>
          
   <h3 style="color: black; font-size: 33px;">Click here to view the non-teachers information :</h3>
   <form action="/login1/nonteachertable" > 
    <button type="submit" class="btn" style="margin: 0px 0px 0px 50px;background-color:  #112D4E;border-radius: 8px;border-style: solid;border-color: black;border-width: 2px;height: 40px;padding: 0PX; ">Click here</button>
  </form>  
<br>
    <div class="container" style="width:85%;height: 10px;">
      <div class="row">
          <div class="col-md-4 col-sm-6">
              <div class="box">
                  <img src="https://media.istockphoto.com/id/1401455311/photo/brainstorming-in-a-business-meeting.jpg?b=1&s=170667a&w=0&k=20&c=bb1EoggMPekFdkJlCBpgM3mXuUNFbxXRhFQKQKmSIqU=" style="height: 500px">
                  <div class="box-content">
                      <h3 class="title">Administrative staff</h3>
                   
                  </div>
                <p class="icon" style="color: #DBE2EF;">
                  The role of the administrative staff is taken care of by different people and it varies from institution to institution. Administration basically means taking care of all the day to day activities of a school, supervising the daily happenings of the school and maintaining discipline and order. The administrative staff may contain the principal, vice principal, and sometimes even senior faculty 
                  
                </p>
              </div>
          </div>
          </div>
      </div>
  </div> 

  <div class="container" style="width:85%;height: 10px; margin:550px 75px">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="box">
                <img src="https://media.istockphoto.com/id/1350817454/photo/worker-removing-dirt-from-carpet-indoors-closeup-cleaning-service.jpg?b=1&s=170667a&w=0&k=20&c=WvKiDk_15k6QFxRQmAYD6h9Xg2d4ZnM7xGI-QYKdjGo=" style="height: 500px">
                <div class="box-content">
                    <h3 class="title">Cleaning staff</h3>
                  
                </div>
              <p class="icon" style="color: #DBE2EF;">
                The cleaning staff is one of the most important if not the most important part of the school. :Without them, the classroom would be filthy and unhygienic. They are supposed to maintain the average hygiene standard of a school and must maintain the school's overall cleanliness. 
              </p>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="container" style="width:85%;height: 10px;margin:550px 75px">
  <div class="row">
      <div class="col-md-4 col-sm-6">
          <div class="box">
              <img src="https://media.istockphoto.com/id/146904212/photo/school-bus-on-a-bright-summer-day.jpg?b=1&s=170667a&w=0&k=20&c=CWGwjY_DQHUz5yDk9mkbEspC2o-illst-_e2NjFHuWw=" style="height: 500px">
              <div class="box-content">
                  <h3 class="title">The Transport Related Staff</h3>
                 
              </div>
            <p class="icon" style="color: #DBE2EF;">
              These include the bus conductors and drivers of the school. Almost every school has a transport system for bringing children to school and getting them back to their homes. The task of ferrying them between school and home is entrusted to the conductors and drivers of the school. This has a lot of responsibility attached to it because the literal safety of students need to be taken into consideration. 
            </p>
          </div>
      </div>
      </div>
  </div>
</div>

<div class="container" style="width:85%;height: 10px;margin:550px 75px">
  <div class="row">
      <div class="col-md-4 col-sm-6">
          <div class="box">
              <img src="https://media.istockphoto.com/id/941729686/photo/business-accounting-concept-business-man-using-calculator-with-computer-laptop-budget-and-loan.jpg?b=1&s=170667a&w=0&k=20&c=uHxBS3mmcQMua8SA84PTjyjBI-ZmDEaal8z0MClmcKQ=" style="height: 500px">
              <div class="box-content">
                  <h3 class="title">Accounts & Finance</h3>
                
              </div>
            <p class="icon" style="color: #DBE2EF;">
              Maintaining the accounts of a school is one of the most important aspects of running it. The accounts section is not only the most famous non teaching position there is, it is often the busiest as well. Keeping the finances of an educational institution in check is paramount for the overall success of a school so their contribution requires special mention. 
            </p>
          </div>
      </div>
      </div>
  </div>
</div>

<div class="container" style="width:85%;height: 10px;margin:550px 75px">
  <div class="row">
      <div class="col-md-4 col-sm-6">
          <div class="box">
              <img src="https://media.istockphoto.com/id/671270266/photo/greengrocer-selling-organic-fresh-agricultural-product-at-farmer-market.jpg?b=1&s=170667a&w=0&k=20&c=cX_lbg1R1agiS6qmifFK8MJmByfprKMsw72tubyIsgE=" style="height: 500px">
              <div class="box-content">
                  <h3 class="title">Storekeepers</h3>
        
              </div>
            <p class="icon" style="color: #DBE2EF;">
              The store keeper is the person who maintains an inventory of all the commodities being sold in the school store. The storekeeper’s job may seem simple, but it is much more important than what it is given credit for. If a proper inventory of all the things being bought and sold is not maintained, it can lead to financial losses and so, their contributions are quite valuable to the school
            </p>
          </div>
      </div>
      </div>
  </div>
</div>

<div class="container" style="width:85%;height: 10px;margin:550px 75px">
  <div class="row">
      <div class="col-md-4 col-sm-6">
          <div class="box">
              <img src="https://media.istockphoto.com/id/1369625932/photo/a-middle-aged-woman-in-a-library.jpg?b=1&s=170667a&w=0&k=20&c=quUvRosjZa60jR9S9NCBYtQt8U_jXyn6SPI46FdVsec=" style="height: 500px">
              <div class="box-content">
                  <h3 class="title">Librarians</h3>
                 
              </div>
            <p class="icon" style="color: #DBE2EF;">
              The case for a librarian being part of the non teaching staff is kind of a bit of a mixed bag because while some librarians are considered non teaching staff because their role does not involve taking classes in schools, there are cases where there are an inadequate number of teachers or staff in general and certain teachers are given the responsibility of being a librarian in addition to being a teacher, so even though there rule is fundamentally not one that require teaching it may still be carried out by a teaching staff. Interestingly a librarian is sometimes also called a library teacher in schools. 
            </p>
          </div>
      </div>
      </div>
  </div>
</div>

<div class="container" style="width:85%;height: 10px;margin:550px 75px">
  <div class="row">
      <div class="col-md-4 col-sm-6">
          <div class="box">
              <img src="https://media.istockphoto.com/id/1365702861/photo/portrait-of-a-young-call-centre-agent-working-on-a-computer-in-an-office.jpg?b=1&s=170667a&w=0&k=20&c=mnZwaxEs32gkv44V1bMnWyqZyoHP15p2LvLDE01CrTc=" style="height: 500px">
              <div class="box-content">
                  <h3 class="title">Counselors</h3>
                  
              </div>
            <p class="icon" style="color: #DBE2EF;">
              Counselors are people who are given the responsibility of maintaining the mental health and overall well-being of students at school. They offer moral support to the students and help them with their learning needs, assisting them in figuring out what is not working for them and what to do to improve themselves over time.
            </p>
          </div>
      </div>
      </div>
  </div>
</div>








     <!-- <P style="text-align:center ;font-size:25px;"> 
        There are several members of the non teaching staff who are essential to the smooth functioning of a school. Given below are a few examples of non teaching staff and what they do from the standpoint of their professional responsibilities. 
        <div class="card">
          <img src="https://images.pexels.com/photos/618158/pexels-photo-618158.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Avatar" style="width:100%;height:350px;">
          <div class="container">
            <h2><b>Administrative staff</b></h2> 
            <p style="font-size :25px ;">The role of the administrative staff is taken care of by different people and it varies from institution to institution. Administration basically means taking care of all the day to day activities of a school, supervising the daily happenings of the school and maintaining discipline and order. The administrative staff may contain the principal, vice principal, and sometimes even senior faculty members.</p>
          </div>
        </div> <div class="card">
          <img src="https://media.istockphoto.com/photos/worker-removing-dirt-from-carpet-indoors-closeup-cleaning-service-picture-id1350817454?b=1&k=20&m=1350817454&s=170667a&w=0&h=zA7ymYDnadILctcL-ZlIGNtWdAlUckoN-rvZSpIPpBs=" alt="Avatar" style="width:100%;height:350px;">
          <div class="container">
            <h2><b>Cleaning staff</b></h2> 
            <p style="font-size :25px ;">The cleaning staff is one of the most important if not the most important part of the school. :Without them, the classroom would be filthy and unhygienic. They are supposed to maintain the average hygiene standard of a school and must maintain the school's overall cleanliness.</p>
          </div>
        </div> <div class="card">
          <img src="https://images.pexels.com/photos/977213/pexels-photo-977213.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Avatar" style="width:100%;height:350px;">
          <div class="container">
            <h2><b>   The Transport Related Staff</b></h2> 
            <p style="font-size :25px ;">These include the bus conductors and drivers of the school. Almost every school has a transport system for bringing children to school and getting them back to their homes. The task of ferrying them between school and home is entrusted to the conductors and drivers of the school. This has a lot of responsibility attached to it because the literal safety of students need to be taken into consideration.</p>

          </div>
        </div> <div class="card">
          <img src="https://resources.workable.com/wp-content/uploads/2017/10/shutterstock_717032236.jpg" alt="Avatar" style="width:100%;height:350px;">
          <div class="container">
            <h2><b>Accounts & Finance </b></h2> 
            <p style="font-size :25px ;">Maintaining the accounts of a school is one of the most important aspects of running it. The accounts section is not only the most famous non teaching position there is, it is often the busiest as well. Keeping the finances of an educational institution in check is paramount for the overall success of a school so their contribution requires special mention.</p>

          </div>
        </div> <div class="card">
          <img src="https://media.istockphoto.com/photos/shopkeeper-at-a-local-food-shop-picture-id489432286?b=1&k=20&m=489432286&s=612x612&w=0&h=v1_x2f8y3SyGvXAE-SzqIvdDaDMmJerOyoD5pGuC5XY=" alt="Avatar" style="width:100%;height:350px;">
          <div class="container">
            <h2><b>Storekeepers</b></h2> 
            <p style="font-size :25px ;">The store keeper is the person who maintains an inventory of all the commodities being sold in the school store. The storekeeper’s job may seem simple, but it is much more important than what it is given credit for. If a proper inventory of all the things being bought and sold is not maintained, it can lead to financial losses and so, their contributions are quite valuable to the school.</p>

          </div>
        </div> <div class="card">
          <img src="https://media.istockphoto.com/photos/african-american-woman-using-desktop-pc-while-working-at-bookstore-picture-id1347521626?b=1&k=20&m=1347521626&s=170667a&w=0&h=2l_mNn32iOhORBtCoq6My2XlCaKMmSCBH_dRUYfP2Vk=" alt="Avatar" style="width:100%;height:350px;">
          <div class="container">
            <h2><b>Librarians</b></h2> 
            <p style="font-size :25px ;">The case for a librarian being part of the non teaching staff is kind of a bit of a mixed bag because while some librarians are considered non teaching staff because their role does not involve taking classes in schools, there are cases where there are an inadequate number of teachers or staff in general and certain teachers are given the responsibility of being a librarian in addition to being a teacher, so even though there rule is fundamentally not one that require teaching it may still be carried out by a teaching staff. Interestingly a librarian is sometimes also called a library teacher in schools.</p>

          </div>
        </div> <div class="card">
          <img src="https://media.istockphoto.com/photos/closeup-of-black-adolescent-having-a-therapy-session-with-picture-id1331029545?b=1&k=20&m=1331029545&s=170667a&w=0&h=1sbSyFNzkaQdRPIQkQYthfNnYcu5IXCRr0gJvauv1mE=" alt="Avatar" style="width:100%;height:350px;">
          <div class="container">
            <h2><b>Counselors</b></h2> 
            <p style="font-size :25px ;">Counselors are people who are given the responsibility of maintaining the mental health and overall well-being of students at school. They offer moral support to the students and help them with their learning needs, assisting them in figuring out what is not working for them and what to do to improve themselves over time.</p>
            <p style="font-size :25px ;">Counselors are people who are given the responsibility of maintaining the mental health and overall well-being of students at school. They offer moral support to the students and help them with their learning needs, assisting them in figuring out what is not working for them and what to do to improve themselves over time.</p>

          </div>
        </div>      -->
          
    
</body>
</html>