<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>students information access</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<style>
    body{
        background-image:linear-gradient(#DBE2EF,#3F72AF) ;
    }
    .add{
        margin: 105px 0px 0px 65px;
    }
  
    /* .mess{
        border-radius: 2px;
        border-style: solid;
        border-color: black;
        display: inline-block;
        width: 30%;
        height: 120px;
        padding: 20px;
        /* margin: 0px 0px 0px 500px; */
        /* margin: 0px 0px 0px 40px; */
    
    .hostel{
        /* border-radius: 2px;
        border-style: solid;
        border-color: black; */
        display: inline-block;
        /* width: 30%; */
        height: 120px;
        padding: 20px;
        margin: 0px 0px 0px 50px;
    }
    /* .acad{
        border-radius: 2px;
        border-style: solid;
        border-color: black;
        display: inline-block;
        width: 30%;
        height: 120px;
        padding: 20px;
        margin: 0px 0px 0px 40px;
    } */
    .fee{
        /* border-radius: 2px;
        border-style: solid;
        border-color: black; */
        display: inline-block;
        /* width: 30%; */
        height: 120px;
        padding: 20px;
        margin: 0px 0px 0px 50px;
    }
    .drop{
        margin: 0px 0px 0px 65px;
    }
    /* .marks{
        border-radius: 2px;
        border-style: solid;
        border-color: black;
        display: inline-block;
        width: 30%;
        height: 120px;
        padding: 20px;
        margin: 0px 0px 0px 40px;
    } */
</style>
<body>

    <nav class="navbar fixed-top "
    style="background-color:#112D4E;color: white; height:80px;text-align: center;font-size: 32px;padding: 0px 10px 15px 280px;">
     
    <div class="container-fluid">
        STUDENT INFORMATION ACCESS FOR ONLY ADMINS
        <a  style="margin-left: 1100px;margin-top:0px;background-color:#112D4E ; color: white;font-size: 20px;text-decoration: none;" href="/login1/HOMEDUBLE">HOME</a>

    </div> 
    
      
</nav>
            

   
    <div class="add">
        <form action="/login1/addstudent" >
            <p style="font-size:20px"><h3>If you want to add student press the button</h3></p>
            <input type="submit" name="add student" value="add student" class="btn" style="background-color: rgb(116, 165, 250);border-radius: 8px;border-style: solid;border-color: black;border-width: 2px;" onclick="myFunction1()"/>
        </form>
    </div>
   <br>
    <hr>
    <br>
    
    <div class="drop">
        <form action="/login1/dropstudent">
            <p style="font-size:20px"><h3>If you want to drop the student press the button</h3></p>
            <input type="submit" name="drop student" value="drop student" class="btn"style="background-color: rgb(116, 165, 250);border-radius: 8px;border-style: solid;border-color: black;border-width: 2px;" onclick="myFunction2()"/>
        </form>
    </div>
    <br>
  <hr>
    
    
     <div class="hostel">
        <div style="font-size:20px">
            <h3>To update the marks of students enter userid and examid here</h3>
        </div>
        <br>
        <form action="/login1/updatemarks" method="post">
            <div class="fr">
                <input type="text" name="userid" placeholder="userid"
                
                class="textBox" autofocus="on" required>  &nbsp;
                &nbsp; &nbsp;
                <input type="text" name="examid" placeholder="examid"
                
                class="textBox" autofocus="on" required> 
                &nbsp; &nbsp;&nbsp;
                <input type="text" name="marks" placeholder="marks"
                
                class="textBox" autofocus="on" required>
                &nbsp; &nbsp;&nbsp;
                <input type="text" name="grade" placeholder="grade"
                
                class="textBox" autofocus="on" required>
                &nbsp; &nbsp;&nbsp;
            </div>
            <br>
            <input type="submit" name="update" value="update score" class="btn" style="background-color: rgb(116, 165, 250);border-radius: 8px;border-style: solid;border-color: black;border-width: 2px;">
        </form>
    </div>
    <br> 
    <hr>
    
    <div class="hostel">
        <div style="font-size:20px">
           <h3> To update the fee of student enter student id here</h3>
        </div>
        <br>
        <form action="/login1/updatefee" method="post">
            <div class="fr">
                <input type="text" name="userid" placeholder="userid"
                class="textBox" autofocus="on" required> &nbsp; &nbsp; &nbsp;
                <input type="text" name="feepaid" placeholder="feepaid"
                class="textBox" autofocus="on" required>
            </div>
            <br>
            <input type="submit" name="hostel info" value="update fee" class="btn" style="background-color: rgb(116, 165, 250);border-radius: 8px;border-style: solid;border-color: black;border-width: 2px;">
        </form>
    </div>
    <br>
   
   
<br> 
<hr> 
<br>
<div class="hostel">
    <div style="font-size:20px">
        <h3>To update the mess details of students enter userid , mess id and card id</h3>
    </div>
    <br>
    <form action="/login1/updatemess" method="post">
        <div class="fr">
            <input type="text" name="userid" placeholder="userid"
            
            class="textBox" autofocus="on" required>  &nbsp;
            &nbsp; &nbsp;
            <input type="text" name="messid" placeholder="messid"
            
            class="textBox" autofocus="on" required> 
            &nbsp; &nbsp;&nbsp;
            <input type="text" name="cardid" placeholder="cardid"
            
            class="textBox" autofocus="on" required>
            &nbsp; &nbsp;&nbsp;
           
            &nbsp; &nbsp;&nbsp;
        </div>
        <br>
        <input type="submit" name="update" value="update mess info" class="btn" style="background-color: rgb(116, 165, 250);border-radius: 8px;border-style: solid;border-color: black;border-width: 2px;">
    </form>  
</div>
<br>  
<hr>
<div class="hostel">
    <div style="font-size:20px">
        <h3>To update the hostel details of students enter userid and roomno</h3>
    </div>
    <br>
    <form action="/login1/updatehostel" method="post">
        <div class="fr">
            <input type="text" name="userid" placeholder="userid"
            
            class="textBox" autofocus="on" required>  &nbsp;
            &nbsp; &nbsp;
            <input type="text" name="roomno" placeholder="roomno"
            
            class="textBox" autofocus="on" required> 
            &nbsp; &nbsp;&nbsp;
           
           
            &nbsp; &nbsp;&nbsp;
        </div>
        <br>
        <input type="submit" name="update" value="update hostel info" class="btn" style="background-color: rgb(116, 165, 250);border-radius: 8px;border-style: solid;border-color: black;border-width: 2px;">
    </form>  
</div>
<br>  
<hr><br>
        
       
  <script>
    function myFunction1(){
        window.location.href="addstudent.html";
    }
    function myFunction2(){
        window.location.href="dropstudent.html";
    }
  </script>
</body>
</html>