<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teaching faculty</title> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
      body{
        background-image:linear-gradient(#DBE2EF,#3F72AF);
      }
        .btn {
            background-color: dodgerblue;
            color: white;
            padding: 15px 20px;
            border: none;
            cursor: pointer;
            width: 10%;
            opacity: 0.9;
          }
          
          .btn:hover {
            opacity: 1;
          }.column {
        float: left;
        width: 20%;
        padding: 10px;
      }
      
      /* Style the images inside the grid */
      .column img {
        opacity: 0.8; 
        cursor: pointer; 
      }
      
      .column img:hover {
        opacity: 1;
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* The expanding image container */
      .container {
        position: relative;
        display: none;
      }
      
      /* Expanding image text */
      #imgtext {
        position: absolute;
        bottom: 15px;
        left: 15px;
        color: white;
        font-size: 20px;
      }
      
      /* Closable button inside the expanded image */
      .closebtn {
        position: absolute;
        top: 10px;
        right: 10px;
        color: white;
        font-size: 35px;
        cursor: pointer;
      } 
          </style> 
</head>
<body> 

  <nav class="navbar fixed-top "
  style="background-color:#112D4E;color: white; height:55px;text-align: center;font-size: 32px;padding: 0px 0px 0px 500px;">
  <div class="container-fluid">
      TEACHING FACULTY
  </div>
</nav>
      <!-- <h1 style="text-align:center ;" class="a">TEACHING FACULTY</h1>   -->
      <style>
        .a{
            color:black;
            
            
        }
      </style>
    <p style="text-align:left ; font-size: 20px;margin: 75px 20px 0px 50px;" class="p">Classroom is a preliminary stage for educational activities and it is a position for preparing people for living in a
        changing world. Classroom is a place that some direct services are provided for students so that they develop
        individually and socially and the requirement for healthy and holistic society development can be provided
        (Khalkhali, 2010).</p>
        <br><p  style="text-align:left ; font-size: 20px;margin: 0px 20px 0px 50px;">
        Instruction or class management is a part of education and is referred as a part of educational activities that takes
        place with presence of the teacher in classroom. Four special traits can be found in the definition of the
        instruction, including: interaction between teacher and students, activity based upon predetermined objectives,
        organized design with view to situation and facilities, developing opportunities and facilitating learning (Zahed
        Babelan, 2012). Therefore class management can be considered as an important indicator in teachers' task is a
        complicated take that is referred as an "Art". This concept is frequently heard in famous motto of "the teaching is
        an art". For example, as we know the experience is an important component in any activity. Butit is often seen
        that the experiences have not been effective in various conditions. This suggests the dynamic principle within
        human relations management. In such conditions, the insight is useful and it evaluates the power of teacher's
        management.</p><br><P style="text-align:left ;font-size: 20px;margin: 0px 20px 0px 50px;"> 
        Thus the current research is designed for responding to following hypothesis: 
        <ul style=" font-size: 20px;margin: 0px 20px 0px 50px;">
       <li> 1- There is a relation between teachers' legitimate authority within classroom and students' learning.</li>
       <li> 2- There is a relation between teachers' specialized authority within classroom and students' learning.</li>
       <li>3- There is a relation between teachers' reference authority within classroom and students' learning.</li>
       <li> 4- There is a relation between teachers' reward authority within classroom and students' learning.</li>
       <li>5- There is a relation between teachers' punishment authority within classroom and students' learning.</li> </ul></p>

       <h3 style="margin: 0px 20px 0px 50px;">Click here to view the teachers information :</h3>
       <br>
       <form action="/login1/teachertable" > 
        <button type="submit" class="btn" style="margin: 0px 0px 0px 50px;background-color: black;border-radius: 8px;border-style: solid;border-color: black;border-width: 2px;height: 40px;padding: 0PX; text-align: center;">Click here</button>
      </form>


       <!-- <div style="text-align:center;font-size: 20px;">
        <h2>Tabbed Image Gallery</h2>
        <p  style="text-align:center ;font-size: 20px;">Click on the images below:</p>
      </div> -->
      
      <!-- The four columns -->
      <div class="row">
        <div class="column">
          <img src="https://media.istockphoto.com/id/1366724877/photo/rear-view-of-mature-teacher-talking-to-his-student-during-lecture-at-university-classroom.jpg?b=1&s=170667a&w=0&k=20&c=nf2JJMKOr1b3N7Ht2tO2hrdGdldu40K2onNY3hx3r5o="  style="width:100%;margin: 0px 0px 0px 40px;" onclick="myFunction(this);">
        </div> &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="column">
          <img src="https://media.istockphoto.com/id/1313119518/photo/middle-aged-teacher-in-casualwear-standing-by-blackboard-in-lecture-hall-and-looking-at.jpg?b=1&s=170667a&w=0&k=20&c=BvtS4E6O1J3SPBxfIlQbd-yhSZo3q9_6WRmi3IJR1MM="  style="width:100%" onclick="myFunction(this);">
        </div>&nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp; &nbsp;
        <div class="column">
          <img src="https://images.unsplash.com/photo-1524178232363-1fb2b075b655?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHRlYWNoZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60"  style="width:100%" onclick="myFunction(this);">
        </div>&nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp; &nbsp;
        <div class="column">
          <img src="https://media.istockphoto.com/id/1320658267/photo/asian-college-student-is-making-a-presentation-in-front-of-projector-screen.jpg?b=1&s=170667a&w=0&k=20&c=CR7lg0Kd2affeVU2L2d8rRjyYdKWZomzM8gfgEcDOZ0="  style="width:100%" onclick="myFunction(this);">
        </div>&nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp; &nbsp;
      </div>
      
      <div class="container">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
        <img id="expandedImg" style="width:100%">
        <div id="imgtext"></div>
      </div>
      
      <script>
      function myFunction(imgs) {
        var expandImg = document.getElementById("expandedImg");
        var imgText = document.getElementById("imgtext");
        expandImg.src = imgs.src;
        imgText.innerHTML = imgs.alt;
        expandImg.parentElement.style.display = "block";
      }
      </script>
      
    
</body>
</html>